$blue: #487dff;
$purple: #7280fd;
$gray: #ecf0f1;
$darkgray: #757575;
$gray-border: #c5c8c9;

$fonts: 'Lato', sans-serif;
$shadow: 0 3px 6px rgba(0, 0, 0, .08), 0 3px 6px rgba(0, 0, 0, .15);

html,
body {
	width: 100%;
	height: 100%;
	
	overflow-x: hidden;
	font-family: $fonts;
}

body {
	background-color: $gray;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300 }

hr {
	border-top: 1px solid $blue;

	&.small {
		width: 50px;
		margin-top: 10px;
	}
}

h1.section-header {
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 0;
}


@import "partials/mixins";
@import "partials/header";
@import "partials/about";
@import "partials/experience";
@import "partials/experience-item";
@import "partials/project";
@import "partials/project-item";
@import "partials/social";
@import "partials/resume";
@import "partials/tag";
.img-me {
    border-radius: 50%;
}

li {
    font-weight: bold;
}
